a {
	color: rgb(162, 140, 66);
}

/* style for tables with nomenclature (first usage in Tongan starlore) */
table.nomenclature {
        margin: 3px auto;
        border-color: black;
        border-style: solid;
        border-width: 1px;
}

table.nomenclature tr td, table.nomenclature tr th {
        padding: 3px;
}
